img {
  margin: -28px; 
}
body {
  background-color: #f0f2f5;
  margin: 0;
}
a {
  margin: 16px 0px 0px;
  text-decoration: none;
}
.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100vw;
  padding: 72px 0px 112px;
  margin: 0px;
}

.logo-container {
  width: 580px;
}
.logo {
  padding: 112px 0px 16px;
  width: 266px;
}
.logo-text {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  font-weight: normal;
  line-height: 32px;
  width: 500px;
  padding: 0px 0px 20px;
  margin: 0px;
}

.login-container {
  width: 396px;
}
.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 396px;
  height: 352px;
  margin: 40px 0px 0px;
  padding: 10px 0px 24px;
  background-color: #fff;
  border: none;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
  box-sizing: border-box;
}
.text {
  font-size: 16px;
  color: #1c1e21;
  font-weight: normal;
  font-family: Arial, Helvetica, sans-serif;
  padding-top: 0;
  text-align: center;
}

.input {
  margin: auto;
  padding: 6px 0;
}
.btn {
  padding-top: 6px;
}
input {
  padding: 14px 16px;
  border-radius: 6px;
  font-size: 19px;
  width: 330px;
  border: 1px solid #dddfe2;
  height: 22px;
}
button {
  padding: 0px 16px;
  font-size: 22px;
  line-height: 48px;
  color: #fff;
  border-radius: 6px;
  border: none;
  font-weight: bold;
}
.login-btn {
  background-color: #1877f2;
  border-color: #1877f2;
  width: 364px;
}
.register-btn {
  background-color: #42b72a;
  border-color: #42b72a;
  font-size: 19px;
}
.line {
  border-bottom: 1px solid #dadde1;
  align-items: center;
  margin: 20px 16px;
  font-size: 14px;
  width: 364px;
}